.container{
	display: flex;
	gap: 1vmin;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
	width: 40vmin;
	height: 20vmin;
	margin: 2rem auto;
	border: 4px solid;
	border-radius: 0.75rem;
	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem 0.75rem;
	background: gray;
	transition: 0.4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vmin;
	height: 100%;
	padding: 0.5rem 0 0 0.5rem;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	background-size: cover;
	transition: 0.3s ease-in-out;
}

.text {
	position: absolute;
	top: 8vmin;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 3vmin 4vmin;
	background: white;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
}

.wrap:hover .overlay {
	transform: translateY(-10vmin);
}
.wrap:hover .image-content {
	height: 40%;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: 0.2s;
	transform: translateY(8vmin);
}
/* .wrap:hover .text {
	border: none;
	transition-delay: 0.2s;
	transform: translateY(5vmin);
} */

/* Animations and timing delays */
.animate {
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}
/* Pop In */
.pop {
	animation-name: pop;
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

/* Slide In */
.slide {
	animation-name: slide;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translate(4em, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

/* Slide Left */
.slide-left {
	animation-name: slide-left;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translate(-40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-up {
	animation-name: slide-up;
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}
